<h2 mat-dialog-title>Create project</h2>
<form
	[formGroup]="formGroup"
	(submit)="createProduct()"
>
	<mat-dialog-content class="mat-typography">
		<div class="form-fields-wrapper">
			<mat-form-field>
				<mat-label>Name</mat-label>
				<input
					matInput
					formControlName="name"
				/>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Client</mat-label>
				<mat-select formControlName="clientId">
					<mat-option
						*ngFor="let item of clientIds; let i = index"
						[value]="item"
					>
						Client {{ i + 1 }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Manager</mat-label>
				<mat-select formControlName="managerId">
					<mat-option
						*ngFor="let item of managerIds; let i = index"
						[value]="item"
						>Manager {{ i + 1 }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Budget</mat-label>
				<input
					matInput
					formControlName="budget"
				/>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Enter a date range</mat-label>
				<mat-date-range-input [rangePicker]="picker">
					<input
						matStartDate
						placeholder="Start date"
						formControlName="startDate"
					/>
					<input
						matEndDate
						placeholder="End date"
						formControlName="endDate"
					/>
				</mat-date-range-input>
				<mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
				<mat-datepicker-toggle
					matIconSuffix
					[for]="picker"
				></mat-datepicker-toggle>
				<mat-date-range-picker #picker></mat-date-range-picker>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Process Status</mat-label>
				<mat-select formControlName="processStatus">
					<mat-option value="CREATED">Created</mat-option>
					<mat-option value="IN_PROGRESS">In progress</mat-option>
					<mat-option value="FAILED">Failed</mat-option>
					<mat-option value="COMPLETED">Completed</mat-option>
					<mat-option value="CANCELED">Canceled</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Description</mat-label>
				<textarea
					matInput
					formControlName="description"
				></textarea>
			</mat-form-field>
		</div>
	</mat-dialog-content>

	<mat-dialog-actions class="actions">
		<button
			class="border p-2 rounded-md bg-gray-400"
			mat-button
			mat-dialog-close
		>
			Cancel
		</button>
		<button
			class="border p-2 rounded-md bg-gray-400"
			mat-button
			cdkFocusInitial
			type="submit"
		>
			Create
		</button>
	</mat-dialog-actions>
</form>
